.header {

    &__title{
        margin-top: 2.5rem;
        text-align: center;
        font-size: 1.5rem;
        border-bottom: solid rgb(199, 199, 199) 1px;
        margin-bottom: 2rem;
    }
    
    &__search {
        
        padding: 1rem 0rem;
        text-align: center;


        &__label {
            padding: 0.5rem;
        }

        &__input {
            border-radius: 1rem;
            background-color: rgb(142, 200, 204);
            border:  rgb(142, 200, 204) solid 2px;
            font-size: 1rem;
            padding-left: 1rem;
            height: 2rem;
        }
    }
}